@font-face {
  font-family: 'JaapokkiRegular';
  src: url('../fonts/jaapokki/Regular/web/jaapokki-regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/jaapokki/Regular/web/jaapokki-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/jaapokki/Regular/web/jaapokki-regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/jaapokki/Regular/web/jaapokki-regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/jaapokki/Regular/web/jaapokki-regular.svg#JaapokkiRegular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'modern_sansregular';
    src: url('../fonts/modern-sans/moderne_sans-webfont.woff2') format('woff2'),
         url('../fonts/modern-sans/moderne_sans-webfont.woff') format('woff'),
         url('../fonts/modern-sans/moderne_sans-webfont.ttf')  format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
