.stretched-hero
  background-color rgb(159, 212, 193)

  /* Set rules to fill background */
  min-height 100%
  width: 100%;
  height: 100%;

  .central-teaser
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
