.meta
  z-index 2002
  color #fff
  position absolute
  right 7%
  top 3.5rem
  font-family open_sansbold, 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-transform uppercase

  li
    display inline-block
    margin-left 1.5rem
    padding .5rem 1rem

    &:hover
      background-color #fff
      color #000

  a
    color #fff
