.area
  padding 3rem 0
  font-family open_sanslight, 'Helvetica Neue', Helvetica, arial, sans-serif

  h2
    font-size 3rem
    margin-bottom 2rem
    font-weight normal

  li
    margin-bottom .75rem
    list-style-type none
    position relative
    padding-left 2rem

    &:before
      position absolute
      left 0
      top .5rem
      width 1.5rem
      height 1.5rem
      padding-left .5rem
      display block
      @extend .ion-ios-play-outline:before

  p, li
    line-height 2rem
    margin-bottom 1.5rem
    font-size 1.3rem

  strong
    font-family open_sansbold, 'Helvetica Neue', Helvetica, arial, sans-serif

  em
    font-family open_sansitalic, 'Helvetica Neue', Helvetica, arial, sans-serif
