@require 'teaser.styl'

.teasers
  overflow hidden

  &.teaser-count-2 li
    width 48%
    margin-right 1.9%

    &:last-of-type
      margin-right 0

  &.teaser-count-3 li
    width 31%
    margin-right 3.45%

    &:last-of-type
      margin-right 0
