extends /landing_page_layout
include /helper

block keywords
  +meta_keywords('aabb', 'ccdd')

block content
  .area
    include:markdown-it landing-page/welcome.md

  +teaser-list(['couples', 'family', 'single', 'corporations'])

  .area
    include:markdown-it landing-page/methods.md
