extends /landing_page_layout
include /helper

block content
  .area
    include:markdown-it landing-page/welcome.md

  +teaser-list(['couples', 'family', 'single', 'corporations'])

  .area#methods
    include:markdown-it landing-page/methods.md

block scripts
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-82114451-1', 'auto');
    ga('send', 'pageview');


block seo
  +meta_keywords('Supervison', 'Fallberatung', 'Fallbesprechung', 'Fortbildung', 'Fortbildungen', 'Seminar', 'Seminare', 'Fachberatung', 'Fachberater', 'Kinderschutz', 'Kinderschutzfachkraft', 'Sexueller Missbrauch', 'Kindeswohlgefährdung', 'Kindeswohl', '§ 8 a', 'Paartherapie', 'Paartherapeut', 'Paarberatung', 'Paarberater', 'Paarcoaching', 'Coaching', 'Systemisch', 'Systemisch-integrativ', 'systemische', 'Paar', 'Paare', 'Essen', 'Ruhrgebiet', 'Mülheim', 'Oberhausen', 'Duisburg', 'Familienaufstellungen', 'Familienaufstellung', 'Hellinger', 'Aufstellung ', 'Aufstellungen', 'Gladbeck', 'Bocholt', 'Andreas', 'Andre', 'Andrea', 'Niehues', 'Niehus', 'Niehuis', 'Niehaus', 'Schwul', 'Homosexuell', 'Lesbisch', 'Affaire', 'Fremdgehen', 'Fremdgegangen', 'Betrogen', 'Monogamie', 'Poligamie', 'Poliamor', 'Liebe', 'Feundschaft', 'Streit', 'Trennung', 'Scheidung', 'Sex', 'Geschlechtsverkehr', 'Erektion', 'Kinder', 'Patchworkfamilie', 'Macht', 'Nähe', 'Bindung', 'Bindugsstörung', 'Bindungsgestört', 'Krebs', 'Chronisch krank', 'Behinderung', 'Erotik', 'Fetisch', 'Prostitution', 'Prostituierte', 'Nutte', 'Hure', 'Drogen', 'Alkohol', 'HIV', 'Aids', 'Haushalt', 'Haushaltsführung', 'Geld', 'Geliebte', 'Geliebter', 'Geliebten', 'Familientherapie', 'Familientherapeut', 'Familienberatung', 'Familienberater', 'Familie', 'Familien', 'Trennung', 'Scheidung', 'Patchworkfamilie', 'Kind', 'Kinder', 'Regenbogenfamilie', 'Pubertät', 'Magersucht', 'Anorexie', 'Ritzen', 'Selbst verletzen', 'Alkohol', 'Drogen', 'Steit', 'Streitigkeiten', 'Geschwister', 'Geschwisterrivalität', 'Eltern', 'Bruder', 'Schwester', 'Vater', 'Mutter', 'Eifersucht', 'Eifersüchtig', 'Chronisch Krank', 'Krebs', 'HIV', 'Aids', 'Schwul', 'Lesbisch', 'Lesbe', 'Homosexuell', 'Coming-out', 'Schulprobleme', 'Einzelberatung', 'Einzeltherapie', 'Lebensberatung', 'Coaching', 'Pychotherapie', 'Psychologische Beratung', 'Therapie', 'Sexualtherapie', 'Sexualberatung', 'Paar', 'Paare', 'Affaire', 'Krise', 'Lebenskrise', 'Verlassen', 'Trennen', 'Trennung', 'Scheiden lassen', 'Scheidung', 'Tod', 'Chronisch krank', 'Krebs', 'Schwul', 'Lesbisch', 'Homosexuell', 'Lesbe', 'Geliebter', 'Geliebte', 'Prostitution', 'Prostituierte', 'Sexsucht', 'Sex', 'Geschlechtsverkehr', 'Lustlosigkeit', 'Erektion', 'Erektionsprobleme', 'Drexx', 'Pornokino', 'HIV', 'Aids', 'Tripper', 'Syphilis', 'Feigweizen', 'Sexuell übertragbare Krankheiten', 'Behindert', 'Behinderung', 'Kind', 'Kinder', 'Elternrolle', 'Geschwister', 'Bruder', 'Schwester', 'Depression', 'Burn-Out', 'Mobbing', 'Drogen', 'Alkohol')
