extends /landing_page_layout
include /helper

block title
  title Paartherapie, Familientherapie, Psychologische Beratung

block content
  .area
    include:markdown-it landing-page/welcome.md

  +teaser-list(['couples', 'family', 'single', 'corporations'])

  .area#methods
    include:markdown-it landing-page/methods.md

block seo
  +meta_keywords('Supervison', 'Fallberatung', 'Fallbesprechung', 'Fortbildung', 'Fortbildungen', 'Seminar', 'Seminare', 'Fachberatung', 'Fachberater', 'Kinderschutz', 'Kinderschutzfachkraft', 'Sexueller Missbrauch', 'Kindeswohlgefährdung', 'Kindeswohl', '§ 8 a', 'Paartherapie', 'Paartherapeut', 'Paarberatung', 'Paarberater', 'Paarcoaching', 'Coaching', 'Systemisch', 'Systemisch-integrativ', 'systemische', 'Paar', 'Paare', 'Essen', 'Ruhrgebiet', 'Mülheim', 'Oberhausen', 'Duisburg', 'Familienaufstellungen', 'Familienaufstellung', 'Hellinger', 'Aufstellung ', 'Aufstellungen', 'Gladbeck', 'Bocholt', 'Andreas', 'Andre', 'Andrea', 'Niehues', 'Niehus', 'Niehuis', 'Niehaus', 'Schwul', 'Homosexuell', 'Lesbisch', 'Affaire', 'Fremdgehen', 'Fremdgegangen', 'Betrogen', 'Monogamie', 'Poligamie', 'Poliamor', 'Liebe', 'Feundschaft', 'Streit', 'Trennung', 'Scheidung', 'Sex', 'Geschlechtsverkehr', 'Erektion', 'Kinder', 'Patchworkfamilie', 'Macht', 'Nähe', 'Bindung', 'Bindugsstörung', 'Bindungsgestört', 'Krebs', 'Chronisch krank', 'Behinderung', 'Erotik', 'Fetisch', 'Prostitution', 'Prostituierte', 'Nutte', 'Hure', 'Drogen', 'Alkohol', 'HIV', 'Aids', 'Haushalt', 'Haushaltsführung', 'Geld', 'Geliebte', 'Geliebter', 'Geliebten', 'Familientherapie', 'Familientherapeut', 'Familienberatung', 'Familienberater', 'Familie', 'Familien', 'Trennung', 'Scheidung', 'Patchworkfamilie', 'Kind', 'Kinder', 'Regenbogenfamilie', 'Pubertät', 'Magersucht', 'Anorexie', 'Ritzen', 'Selbst verletzen', 'Alkohol', 'Drogen', 'Steit', 'Streitigkeiten', 'Geschwister', 'Geschwisterrivalität', 'Eltern', 'Bruder', 'Schwester', 'Vater', 'Mutter', 'Eifersucht', 'Eifersüchtig', 'Chronisch Krank', 'Krebs', 'HIV', 'Aids', 'Schwul', 'Lesbisch', 'Lesbe', 'Homosexuell', 'Coming-out', 'Schulprobleme', 'Einzelberatung', 'Einzeltherapie', 'Lebensberatung', 'Coaching', 'Pychotherapie', 'Psychologische Beratung', 'Therapie', 'Sexualtherapie', 'Sexualberatung', 'Paar', 'Paare', 'Affaire', 'Krise', 'Lebenskrise', 'Verlassen', 'Trennen', 'Trennung', 'Scheiden lassen', 'Scheidung', 'Tod', 'Chronisch krank', 'Krebs', 'Schwul', 'Lesbisch', 'Homosexuell', 'Lesbe', 'Geliebter', 'Geliebte', 'Prostitution', 'Prostituierte', 'Sexsucht', 'Sex', 'Geschlechtsverkehr', 'Lustlosigkeit', 'Erektion', 'Erektionsprobleme', 'Drexx', 'Pornokino', 'HIV', 'Aids', 'Tripper', 'Syphilis', 'Feigweizen', 'Sexuell übertragbare Krankheiten', 'Behindert', 'Behinderung', 'Kind', 'Kinder', 'Elternrolle', 'Geschwister', 'Bruder', 'Schwester', 'Depression', 'Burn-Out', 'Mobbing', 'Drogen', 'Alkohol')
  +meta_description('Systemisch integrative Praxis für Paar- und Familientherapie, Coaching und psychologische Beratung, Sexualberatung und Sexualpädagogik')
