extends /landing_page_layout
include /helper

block head
  link(rel='stylesheet' href='css/main.css')

block content
  section.content
    .area
      include:markdown-it landing-page/welcome.md

    +teaser-list(['couples', 'family', 'single'])

    .area
      include:markdown-it landing-page/methods.md
